<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css" type="text/css" > 
    <title>Page not found !</title>
</head>
<body class="error">

    <div class="error__container">
        <h3 class="error__heading u-margin-bottom-medium">Error . Page Not Found ! <hr></h3>
        
        <a href="./" class="btn btn--small btn--red">Take Me Back ..</a>
        
        <h5 class="or u-margin-bottom-medium"> <hr> .. OR .. <hr></h5>

        <a href="/" class="btn btn--small btn--fixed" >Back To Home .. </a>

    </div>
</body>
</html>