//.header__selecting-image
.select-game {

        
        font-family: 'Roboto', sans-serif;

        font-weight: 200;
        font-size: 1rem;
        color:$color-tertiary-dark;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s;
        border-radius: 2rem;
        //width: 25%;
        height: 90vh;
        padding-right: 3rem;
        margin-right: 4rem;


        @include respond (phone) {
            position: relative;
            top: -2rem;

            width: 40%;
            height: 40vh;
            display: flex;
            //flex: 1;
            flex-direction: column; 
            align-items:flex-start;
            //width: 30%;
            //flex-direction: column;

        }

        @include respond (small-phone) {
            height: 48vh;
            display: flex;
            flex: 1;
            flex-direction: column; 
            align-items:center;
            //width: 30%;
            //flex-direction: column;

        
        }



        @include respond (small-phone-v2) {
            height: 48vh;
            display: flex;
            flex: 1;
            flex-direction: column; 
            align-items:center;
            //width: 30%;
            //flex-direction: column;

        }

      
       // &:hover {
          //  position: relative;
           // transform: translateY(1rem) scale(1);
            //border-bottom-right-radius:10rem ;
        
        //}
        &--image {
            height: 65vh;
            padding-top: 2rem;
            transition: all 0.3s;  
            border-radius: 2rem;
            transform:scale(1.05);
            backface-visibility: hidden;
            //@include respond (tab-land) {
              //  width: 90%; 
 
           //  }
 
            @include respond (tab-port) {
               width: 100%; 

            }
             @include respond (phone) {
                height: 40vh;
                 width: 100%;
                
            

             }
            @include respond (small-phone-v2) {
                height: 40vh;
                width: 100%;
                position: relative;
                left: 4rem;
                
            

            }
    
    
          
    

            .select-game:hover &{
                position: relative;
                transform: translateY(1rem) scale(1);
                border-bottom-right-radius:10rem ;
                filter: saturate(10%) blur(0.2rem); 
             
     
               
               


            }
     
         
        }
        &--info {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            transition: all 0.4s;
            text-align: center;
            visibility: hidden; 
            .select-game:hover & {
                transform: translate(5rem,-40rem);

            }
            
                   
        }
 
        &--btn { 
            width: 17rem !important;
            top:25rem; 
            
            //position: relative; 
            opacity: 0;
            visibility: hidden;
            @include respond (tab-port) {

                width: 15rem !important;
                //opacity: 1;
                //visibility: visible;
            }
    
            @include respond (small-phone-v2) {

                width: 10rem !important;
                
                transform: translate(-0.5rem,-2rem);

                 }
    
             
 
            .select-game:hover  & {
               // transform: translateY(-200%); 
                opacity: 1;
                visibility: visible;
                //transform: translate(-33%,-60%);
                transform: translate(0rem,-8rem);
                border-bottom-right-radius: 4rem; 
                border-top-left-radius: 4rem;
                @include respond (tab-land) {

                    transform: translate(-2rem,-4rem); 

                     }
                @include respond (phone) {

                    transform: translate(0,-3rem); 

                     }

                @include respond (small-phone) {

                        transform: translate(-2rem,-3rem); 
    
                         }
         

                
                &:hover {
                    width: 20rem !important;
                    border-bottom-right-radius: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 2rem;
                    border-top-right-radius: 2rem;
    

    
                }
    
                
            }
           


        }
        //old head 

       /* &--head { 
            //position: absolute;
            font-size: 3.5rem;
            font-weight: 700;
            
            text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);
            
            //top:50%;
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;
            backface-visibility: hidden;
            &:hover {
                transform: skewY(-1deg);
                text-shadow: 1px 1px 30px rgba(0, 0, 0, 1);
            }

            .select-game:hover  & {
                //transform: translateY(-20rem); 
                opacity: 1;
                visibility: visible;
                
            }
    


        } */


      

        


    
    
   /* &--fort {
        background-image: url(/img//fort/fort2.jpg);
        
        background-size: cover;
        &:hover {
            
            background-image: linear-gradient(to right bottom ,rgba($color-black,0.5),rgba($color-black,0.5)) ,url(/img//fort/fort2.jpg);
        }

      
    }
    &--pubg {
        background-image: url(/img//fort/fort2.jpg);
        
        background-size: cover;
   
        &:hover {
            background-image: linear-gradient(to right bottom ,rgba($color-black,0.5),rgba($color-black,0.5)) ,url(/img//fort/fort2.jpg);
        }

    }

    &--lol {
        background-image: url(/img//fort/fort2.jpg);
        
        background-size: cover;

        &:hover {
            background-image: linear-gradient(to right bottom ,rgba($color-black,0.5),rgba($color-black,0.5)) ,url(/img//fort/fort2.jpg);
        }

    }
    &--nameless {
        background-image: url(/img//fort/fort2.jpg);
        
        background-size: cover;

        &:hover {
            background-image: linear-gradient(to right bottom ,rgba($color-black,0.5),rgba($color-black,0.5)) ,url(/img//fort/fort2.jpg);
        }

    }*/

     
}
 
   

