<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Soul Purge</title>
    <link rel="stylesheet" href="../../../css/style.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&display=swap" rel="stylesheet">

</head>
<body class="soul-purge">
    <div class="register__form">
        <div class="u-margin-bottom-medium">
            <h1 class="heading-primary heading-primary--form">Welcome To Soul Purge Lodge</h1>
            <p class="game-caption game-caption--soul-purge">Here we are! Simple steps separate you from the start of a new challenge in the Souls Arena .. Take up your weapon and fight now!</p>
        </div>
        <div class="form__group-section">
            <div class="group-section">
                <h2 class="heading-title">Register Now .. 
                    <hr>
                </h2>
               
                <p class="section-caption">Are you a new knight seeking to purify the rebellious spirits in the field square? Register now .. Fast and Free </p>
                <a href="/soul-purge/register" class="btn btn--small btn--form">Register Now</a>
            </div>
            <div class="group-section">
                <h2 class="heading-title heading-title--second">Login .. 
                    <hr>
                </h2>
                <p class="section-caption ">Are you a veteran knight who reaped souls and purified others on the battlefield? Don't let time stop there and go ahead!</p>

                <a href="/login" class="btn btn--small btn--form btn--form--second ">Login Now</a>
            </div>
           
           


        </div>

</body> 
</html>